<!-- DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Template du email de relance des prêts échus</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
</style>
</head>
<body>
	<p>
		Objet: votre réservation N° <span th:text="${numReservation}"></span> enregistrée le
		<span
			th:text="${#temporals.format(dateReservation, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></span>
	</p>
	<p th:text="${'Bonjour ' + nomUser}"></p>
	<p>
		Nous vous informons qu'un exemplaire du livre que vous avez réservé est disponible jusqu'au : <b> <span
			th:text="${#temporals.format(dateDeadline, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></span>
		</b>
	</p>
	<p>
		Si vous n'empruntez pas le livre avant cette date, votre réservation sera annulée.<b> Pour rappel, </b>
		voici les références de l'ouvrage réservé : <br></br> <b> <span th:text="${nomLivre}"></span>
		</b> de <span th:text="${nomAuteur}"></span> (auteur)
	</p>

	<p>
		Avec nos remerciements <br />
	</p>
	<p>L'équipe Biblio</p>


</body>
</html>