<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Template du email de relance des prêts échus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
 	<p>
      Objet: <b> échéance de votre prêt </b> N° :
      <span th:text="${numPret}"></span>
    </p>
    <p th:text="${'Bonjour ' + nomUser}"></p>
    <p>
      Votre emprunt de livre à la bibliothèque <b>est échu</b> depuis le :
      <span th:text="${echeance}"></span>
    </p>
    <p>
      Merci de ramener à la bibliothèque <b> dans les meilleurs délais </b> l'ouvrage suivant :
      <span th:text="${nomLivre}"></span>
    </p>
    
    <p>
      Avec nos remerciements <br/>.
      L'équipe de la Bibliothèque.
    </p>
    
    
  </body>
</html>