<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Biblio Web Appli</title>
</head>
<body>
<div class="container">
    <h1>Sélection Categorie</h1>

    <a href="/categorie">
        <button>Creation d'une nouvelle catégorie</button>
    </a>

    <table class="u-full-width">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Suppression</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categorie : ${categories}">
                    <td th:text="${categorie.numCategorie}"></td>
                    <td th:text="${categorie.nomCategorie}"></td>
                    <td>
                        <form th:method="delete" th:action="@{/}">
                            <input type="hidden" name="numCategorie" th:value="${categorie.numCategorie}" />
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</body>
</html>